/* ============== Skills and Free time Charts ==============  */ 
#myChart{
    display: flex;
    box-sizing: border-box;
    height: 530px;
    width: 630px;
    flex-wrap: wrap;
}

.chart-container{
    padding: 20px; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.chart-text{
    font-family: 'Satoshi', sans-serif; 
    margin-left: 4%;
}

.barchart-size{
    margin-left: 15%;
    margin-right: 15%;
}

.chart-button{
    display: inline-block; 
    color: black;
    font-size: 1em;
    padding: .75rem 2.5rem;
    margin-left: auto;
    background-color: #80cdc1;
    font-family: 'Satoshi', sans-serif;
    border: 3px solid #018571;
    border-radius: 50px;
    margin-top: 20px;
}

.chart-button:hover{
    opacity: 0.7;
}

.chart-button:active{
    opacity: 0.5; 
}

.chart-button a{
    color: black; 
    text-decoration: none; 
}