/* ============== Skills and Free time Charts ==============  */ 
#myChart{
    display: flex;
    box-sizing: border-box;
    height: 530px;
    width: 630px;
    flex-wrap: wrap;
}

.chart-container{
    padding: 20px; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.chart-text{
    font-family: 'Satoshi', sans-serif; 
    margin-left: 4%;
}

.chart-text h2{
    font-size: 1.25em;
}

.barchart-size{
    margin-left: 15%;
    margin-right: 15%;
}