body .gist .gist-file {
    margin-bottom: 0;
    border: 3px solid #018571;
    border-radius: 0px;
    max-height:200px;
    overflow:auto;
  }
  
  body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: none;
  }
  
  body .gist .blob-wrapper {
    border-radius: 0;
  }
  
  body .gist .highlight {
    background-color: transparent;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
  }
  
  body .gist .highlight td {
    padding: 5px 15px;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
  }
  
  body .gist tr:first-child td {
    padding-top: 10px;
  }
  
  body .gist tr:last-child td {
    padding-bottom: 10px;
  }
  
  body .gist .blob-num {
    color: #ced4da;
    background-color: #018571;
    pointer-events: none;
  }
  
  body .gist .gist-meta {
    display: none;
  }

