/* ============== Homepage ============== */ 
.main-icons{
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.hello-button-div{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.hello-button{
    background-color: #80cdc1;
    font-family: 'Satoshi', sans-serif;
    font-size: 1.5rem;
    border: 3px solid #018571;
    border-radius: 50px;
    width: 10rem;
    height: 3rem;
    margin-bottom: 20px;
}

.hello-button a{
    color: black;
    font-family: 'Satoshi', sans-serif;
    text-decoration: none;
}

.hello-button:hover{
    opacity: 0.7;
}

.hello-button:active{
    opacity: 0.5;
}

.showcase{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.showcase a{
    color: black;
    text-decoration: none;
}

.showcase-project {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    height: 340px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(90, 180, 172, 0.4);
    border-radius: 25px;
    border: 3px solid #018571;
    box-shadow: 5px 5px 5px rgba(53, 151, 143, 0.5);
  }
  
.showcase-project:hover{opacity: 0.8;}
.showcase-project:active{box-shadow: none;}
  
.showcase-project .topic,
.showcase-project .title,
.showcase-project .project-info {
    font-family: 'Satoshi', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.showcase-project .title{
    font-size: 16px;
    margin-bottom: 1%;
}
  
.showcase-project .cover{
    height: 190px;
    display: block;
    display:flex;
    margin: 10px auto;
    box-shadow: 2px 2px 2px #0003;
  }
  
.showcase-project .project-info
  {
    color: black;
    font-family: 'Satoshi', sans-serif;
    margin-top: 2%;
}

.showcase-description{
    display: flex;
    align-items: center;
}

.description-text{
    margin-left: 4%;
}

.description-text h3{
    font-size: 1em; 
}