.missing{
    background-color: #018571;
}

.missing-box{
    font-family: 'Satoshi', sans-serif;
    font-size:large;
}

.missing-info-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; 
    margin-top: 20%;
}

.missing-info-text{
    font-family: 'Satoshi', sans-serif;
    color: white; 
    display: flex;
    justify-content: center;
    font-size: 2em; 
}

.missing-info-subtext{
    font-family: 'Satoshi', sans-serif;
    color: white; 
    display: flex;
    justify-content: center;
    font-size: 1.5em; 
}

.missing-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.missing-button{
    background-color: #80cdc1;
    font-family: 'Satoshi', sans-serif;
    font-size: 1.5rem;
    border: 3px solid white;
    border-radius: 50px;
    width: 10rem;
    height: 3rem;
}

.missing-button a{
    color: black;
    font-family: 'Satoshi', sans-serif;
    text-decoration: none;
}

.missing-button:hover{
    opacity: 0.7;
}

.missing-button:active{
    opacity: 0.5;
}
