/* The CSS for the Project Information Pages (i.e, Project 01, Project 02, etc.) */

nav.project-title{
    font-family: 'Satoshi', sans-serif;
    background-color: #018571;
    color: white;
    border-bottom: .25em solid white;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

nav.project-title li{
    display: inline-block;
    font-family: 'Satoshi', sans-serif;
    font-weight: bold;
    font-size: 2rem;  
    margin: 40px;
    user-select: none;
    display: flex;
    justify-content: flex-start; 
}

.main-content-project-page{
    margin: 300px 5% 5% 5%; 
    margin-left: 2em;
    padding: 0rem;
    background-color: white;
    font-family: 'Satoshi', sans-serif;
}

.main-content-project-page h1{
    font-size: 1.25em; 
}

.back-button-div{
    display: flex; 
}

.back-button{
    background-color: #80cdc1;
    font-family: 'Satoshi', sans-serif;
    font-size: 0.8rem;
    border: 3px solid white;
    border-radius: 50px;
    width: 5rem;
    height: 2rem;
}

.back-button:hover{
    opacity: 0.7
}

.back-button:active{
    opacity: 0.5; 
}

.back-button a{
    color: black;
    font-family: 'Satoshi', sans-serif;
    text-decoration: none;
}

.try-out-project{
    color: #018571;
}

.db-info{
    display: flex;
    align-items: center;
}

.db-pic{
    height: 100%;
    width: 90%;
}

.db-info-text{
    margin-right: 10%;
}

.db-info-text h2{
    font-size: 1.25em;
}

.description-h2{
    font-size: 1.25em;
}

.description-h2 h2{
    font-size: 1.25em;
}

.cmd-li{
    margin-bottom: 3%;
    font-size:large;
}

.caption{
    color: rgb(75, 75, 75);
}
