/* ============== Navigation Bar ============== */ 
nav.top-nav{
    background-color: #018571;
    color: white;
    border-bottom: .25em solid white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

nav.top-nav li{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold; 
    margin: 5px; 
    user-select: none; 
}

nav.top-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
}

nav.top-nav li:hover{
    background:rgba(255,255,255, 0.3);
}

nav.top-nav .pulldown-menu{
    display: none; 
    position: absolute;
    font-family: 'Satoshi', sans-serif;
    border: .1em solid #80cdc1;
    border-radius: 10px;
    background-color: #018571; 
    margin: 4px;
    padding: 4px;
}

nav.top-nav .pulldown-menu li{
    display: block;
}

nav.top-nav li:hover .pulldown-menu{
    display: block; 
}

nav [aria-current=page]{
    color: white;
    border-bottom: .15em solid white;
}

nav.top-nav a{
    color: white;
    font-family: 'Satoshi', sans-serif;
    text-decoration: none;
}

/* ============== Styling the main sheet ============== */ 
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin: 100px 5% 5% 5%;
    margin-left: 2em;
    padding: 0rem;
    background-color: white;
    font-family: 'Satoshi', sans-serif;
}

.page-header{
    color: #018571;
    text-decoration: underline;
    text-decoration-color: #80cdc1;
    display: flex;
    justify-content: center;
}

.subtitle{
    color: #018571;
    text-decoration: underline;
    text-decoration-color: #80cdc1;
    display: flex;
    justify-content: center;
}

.main-subtitle{
    color: #018571;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============== Projects Page ==============  */ 
.project {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 340px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(90, 180, 172, 0.4);
    border-radius: 25px;
    border: 3px solid #018571;
    box-shadow: 5px 5px 5px rgba(53, 151, 143, 0.5);
  }
  
.project:hover{opacity: 0.8;}
.project:active{box-shadow: none;}
  
.project .topic,
.project .title,
.project .project-info {
    font-family: 'Satoshi', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.project .title{
    font-size: 16px;
    margin-bottom: 1%;
}
  
.project .cover{
    height: 190px;
    display: block;
    display:flex;
    margin: 10px auto;
    box-shadow: 2px 2px 2px #0003;
  }
  
.project .project-info
  {
    color: black;
    font-family: 'Satoshi', sans-serif;
    margin-top: 2%;
}
  
.projects-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

.projects a{
    color: black; 
    text-decoration: none; 
}


/* ============== Footer ==============  */ 
.footer{
    background-color: #018571;
    margin-top: auto;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title{
    font-family: 'Satoshi', sans-serif;
    color: white;
    margin-right: 5%;
}

/* ============== Social icons ============== */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 5%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa:active{
    opacity: 0.5;
}

.fa-linkedin {
    background: #018571;
    color: white;
  }

.fa-instagram {
    background: #018571;
   color: white;
  }
